@import "definitions.less";

.topic {
  background-color: @clr-white;
  border-bottom: 1px solid @clr-border;
  min-height: 32px; /* height of the image */

  &:last-child {
    border-bottom: 2px solid @clr-border;
  }

  .author-image {
    border-radius: 16px;
    display: inline-block;
    height: 32px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 32px;
  }
  .author-image:after {
    background-color: @clr-white;
    background-image: url(../img/all.png);
    background-position: 0 -168px;
    background-repeat: no-repeat;
    border-radius: 16px;
    content: " ";
    display: block;
    height: 32px;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 32px;
    z-index: 1;
  }

  .next-to-author-image {
    display:inline-block;
  }
  .content {
    display: block;
    margin-top: 5px;
  }
  .content:before {
    content: "“";
  }
  .content:after {
    content: "”";
  }

  .details {
    color: @clr-title;
    font-size: @font-size-small;
    padding: 5px;

    .detail {
      cursor: pointer;
      display: inline;
    }
    .detail:hover[data-register] {
      text-decoration: underline;
    }
    .detail:before {
      padding-right:2px;
      vertical-align: bottom;
    }
    .detail:hover:before {
      text-decoration: none;
    }
    .detail:not(:first-child):not(:empty):before {
      content: "|";
      margin: 0 5px;
    }
  }

  .attributes {
    background-color: rgba(0, 0, 0, 0.05);
    font-size: @font-size-small;
    padding: 5px;

    .attribute {
      display: inline;
    }
    .attribute:hover[data-register] {
      cursor: pointer;
      text-decoration: underline;
    }
    .attribute:before {
      padding-right:2px;
      vertical-align: bottom;
    }
    .attribute:hover:before {
      text-decoration: none;
    }
    .attribute:not(:first-child):not(:empty):before {
      content: "|";
      margin: 0 5px;
    }

    .value {
      color: @clr-border;
    }
  }

  .actions {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: @font-size-small;
    font-weight: bold;
    padding: 5px;

    .action {
      display: inline;
      padding: 2px;
    }
    .action:hover[data-register] {
      cursor: pointer;
      text-decoration: underline;
    }
    .action span {
      border-radius: 2px;
      display: inline-block;
      padding: 2px;
    }
    .action[data-value="true"] span {
      background-color: @clr-theodorus;
      color: @clr-white;
    }
    .action:before {
      padding-right:2px;
      vertical-align: bottom;
    }
    .action:hover:before {
      text-decoration: none;
    }
    .action:not(:last-child):not(:empty):after {
      content: "|";
      margin: 0 5px;
    }
  }

  .action span[data-ico]:before {
    display: inline-block;
    margin-right: 5px;
  }
  .action-opinion[data-value="true"] span:before { .ico-comment-full; }
  .action-endorse[data-value="true"] span:before { .ico-heart-full; }
  .action-follow[data-value="true"] span:before { .ico-bookmark-full; }
  .action-read[data-value="true"] span:before { .ico-read; }

  .opinions, .comments {
    border-left: 1px solid @clr-border;
    margin-left: 1px;
    padding-left: 1px;
  }
}
