/*=============================================== Colours */
/* based on http://paletton.com/palette.php?uid=73v250k83tQ1BPs4qCjcqpjhcl7 */
/* reds*/
/* greens*/
/* blues*/
/* Yellows*/
/* colours functions*/
/*=============================================== Screen Sizes */
/*=============================================== JS-tools */
[data-hidden] {
  display: none;
}
/*=============================================== The rest */
html body {
  font-family: 'Titillium Web', sans-serif;
}
@media only screen and (max-device-width: 991px) and (orientation: landscape) {
  body {
    background-color: blue;
  }
}
.header {
  border-bottom: 0.1rem solid #748a98;
  padding: 0.5rem;
}
@media only screen and (max-device-width: 991px) and (orientation: portrait) {
  .header {
    bottom: 0;
    position: fixed;
    text-align: center;
    border-top: 1px solid #748a98;
    width: 100%;
  }
  .header .app-logo {
    background-size: 10rem;
    background-position: -6.9rem 0.2rem;
    height: 3rem;
    width: 3rem;
    padding: 0;
  }
  .header .app-title,
  .header .app-quick-description {
    display: none;
  }
}
.app-logo {
  background-image: url(/img/all.png);
  background-position: -8.8rem 0.5rem;
  background-repeat: no-repeat;
  clear: both;
  color: #748a98;
  display: inline-block;
  height: 3.7rem;
  padding: .3rem 0 0 3.5rem;
  text-decoration: none;
  width: 10rem;
}
.app-title {
  font-size: 2rem;
}
.app-quick-description {
  font-size: 1rem;
}
.header-navigation {
  float: right;
  margin: 1rem;
}
.nav-link {
  background-image: url(/img/all.png);
  background-position: -8.8rem 0.5rem;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 3rem;
  width: 3rem;
}
.nav-link span {
  display: none;
}
.nav-link.link-communities {
  background-position: -9.5rem -5rem;
}
.nav-link.link-messages {
  background-position: -6.3rem -5rem;
}
.nav-link.link-me {
  background-position: -9.5rem -11rem;
}
.nav-link.link-sign-out {
  background-position: -6.3rem -8rem;
}
.nav-link.link-sign-in {
  background-position: -6.3rem -8rem;
}
.nav-link.link-sign-up {
  background-position: -9.5rem -8rem;
}
.nav-link.link-report-bug {
  background-position: -3.3rem -11rem;
}
.newsfeed {
  float: left;
  min-height: 10rem;
  width: 66%;
}
.visitors-info-what-is,
.visitor-options {
  float: right;
  width: 33%;
}
.visitors-info-what-is,
.visitor-options .sign-in,
.visitor-options .sign-up {
  border: 0.5rem solid lightgray;
  box-sizing: border-box;
  background-color: white;
  padding: 0.5rem;
}
.tag-color-0 {
  background-color: lightblue;
}
.tag-color-1 {
  background-color: lightgoldenrodyellow;
}
.tag-color-2 {
  background-color: lightgrey;
}
.tag-color-3 {
  background-color: lightpink;
}
.tag-color-4 {
  background-color: lightyellow;
}
.tag-color-5 {
  background-color: lightskyblue;
}
.tag-color-6 {
  background-color: lightgreen;
}
.tag-color-7 {
  background-color: burlywood;
}
.tag-color-8 {
  background-color: floralwhite;
}
.tag-color-9 {
  background-color: lightcoral;
}
