@import "elements.less";

.html {
  height: 100%;
}
.body {
  direction: rtl;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

.required:after {
  content: "*";
  color: red;
}


.fieldValidation {
  color: red;

  .fa-spin {
    color: blue;
  }

  .fa-check {
    color: green;
  }
}

html body .hidden {
  display: none;
}

.header {
  border-left: 0.1rem solid #ddd;
  float: right;
  height: 100%;
  width: 12rem;

  .header-app-title {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.5rem;
  }

  .user-info {
    clear: both;
    display: block;
    height: 4rem;

    .user-profile-image {
      .rounded(1.5rem);
      border: 0.1rem solid #999;
      float: right;
      height: 3rem;
      margin: 0 0.5rem;
      width: 3rem;
    }
  }

  .header-navigation {
    display: block;

    .navigation-link {
      border-top: .1rem solid #efefef;
      display: block;
      height: 2rem;
      padding: .5rem;
      text-decoration: none;
    }
  }
}

.page-signup  .navigation-link-signup,
.page-signin  .navigation-link-signin,
.page-task  .navigation-link-tasks,
.page-customer  .navigation-link-customers,
.page-contact  .navigation-link-contact {
  background-color: lightblue;
}

.page-content {
  box-sizing: border-box;
  height: 100%;
  margin-right: 12rem;
  padding:1rem;
}
.footer {
  border-top: .1rem solid #ddd;
  bottom: 0;
  left:2.5rem;
  margin-bottom: 0.5rem;
  max-width: 60rem;
  padding-top: .5rem;
  position: absolute;
  width:100%;

  .copyrights {
    color: #999;
    direction: ltr;
    font-size: 0.8rem;
  }
}
.wrapper-feedback {
  bottom: 0;
  padding: 0.5rem;
  position: absolute;
  left: 0;

  .link-feedback {
    color: lightgreen;
    font-size: 1.25rem;
    text-shadow: 1px 1px 0 #333, -1px -1px 0 #666, 1px -1px 0 #999, -1px 1px 0 #333;
    .fa-bug {
      -ms-transform: rotate(-5deg); /* IE 9 */
      -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
      transform: rotate(-5deg);
    }
  }
}

.form-background {
  background: rgba(1,1,1,0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.form {
  .form-title {
    font-size: 1rem;
  }

  .button-bar {
    text-align:left;
  }
}

.form-feedback {
  background: white;
  display: block;
  margin: 10% auto;
  width: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;

  .feedback-content {
    height: 3rem;
    width:100%;
  }
}
/* *************************************************************************************************** */

.page-task {
  .tasks {
    .task {
      .task-header {
        display: inline-block;

        .task-customer:before { content: "("; }
        .task-customer:after { content: ")"; }
      }
    }
  }
}

/* *************************************************************************************************** */

.page-settings {
  .profile-image {
    .field-upload-image { display: none; }

    .image-preview-component {
      background-color: #eee;
      background-image: url(/images/loading.gif);
      background-repeat: no-repeat;
      background-position: center center;
      border: 0.1rem  solid #ddd;
      display: inline-block;
      direction: ltr;
      height: 5rem;
      overflow: hidden;
      width: 5rem;
    }

    .resize-handle,
    .image-preview-overlay,
    .btn-reset,
    .btn-save { display: none; }
  }
  .profile-image.js-edit {
    .image-preview-component {
      background-image: none;
      height: 7.5rem;
      width: 7.5rem;
    }

    .image-preview {
      margin: 1.25rem;
    }
    .resize-container .image-preview {
      margin: 0;
    }


    .image-preview-overlay {
      border: solid 0.1rem rgba(222,60,80,.5);
      display: block;
      height: 5rem;
      left: auto;
      margin: 1.2rem;
      top: auto;
      width: 5rem;
    }
    .image-preview-overlay:before,
    .image-preview-overlay:after {
      border-left: 0.1rem dashed rgba(222,60,80,.5);
      border-right: 0.1rem dashed rgba(222,60,80,.5);
      height: 1.2rem;
      width: 5rem;
    }

    .image-preview-overlay-inner:before,
    .image-preview-overlay-inner:after {
      border-top: 0.1rem dashed rgba(222,60,80,.5);
      border-bottom: 0.1rem dashed rgba(222,60,80,.5);
      height: 5rem;
      width:1.2rem;
    }
    .image-preview-component-buttons {
      position: absolute;
      z-index: 99;
      margin: 0.2rem;
    }
    .image-preview-button {
      top: 13.25rem;
      height: 1.5rem;
    }
    .resize-handle { display: block; }
    .btn-reset,
    .btn-save { display: inline; }
    .btn-select {

    }
  }

}