@import "definitions.less";

/*=============================================== The rest */

html body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAE0lEQVQIW2NkwAIYqSx4+dat/wAKMQOMnQkJRwAAAABJRU5ErkJggg==) repeat;
  font-family: 'Titillium Web', sans-serif;
  height: 100vh;
  margin: 0;
  min-width: 240px;
  width: 100vw;
}

#appContainer {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYV2NkIBIwEqmOYVQh3pAiKngu37r1HwAS9gOReD1V6wAAAABJRU5ErkJggg==) repeat;
  min-height: 100vh;
  @media only screen and (min-width: @screen-md-min) {
    border: solid @clr-border;
    border-width: 0 1px;
    max-width: 1180px; //20px for scrollbar
    margin: 0 auto;
  }
}

[data-env="debug"]:before {
  color: @clr-background-dark;
  display: block;
  height: 0.1rem;
  position:absolute;
  width: 0.1rem;

  @media only screen and (max-width: @screen-xxs-max) { content: "xxs" }
  @media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) { content: "xs"; }
  @media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { content: "sm"; }
  @media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) { content: "md"; }
  @media only screen and (min-width: @screen-lg-min) { content: "lg"; }

}

[data-section="communities"] .link-communities:before,
[data-section="community"] .link-communities:before,
[data-section="messages"] .link-messages:before,
[data-section="me"] .link-me:before,
[data-section="feedback"] .link-report-feedback:before,
[data-section="join"] .link-join:before {
  color: @clr-pattens-blue;
}

.tag-color-0 { background-color:lightblue; }
.tag-color-1 { background-color:lightgoldenrodyellow; }
.tag-color-2 { background-color:lightgrey; }
.tag-color-3 { background-color:lightpink; }
.tag-color-4 { background-color:lightyellow; }
.tag-color-5 { background-color:lightskyblue; }
.tag-color-6 { background-color:lightgreen; }
.tag-color-7 { background-color:burlywood; }
.tag-color-8 { background-color:floralwhite; }
.tag-color-9 { background-color:lightcoral; }

a[data-ico], a[data-ico]:visited {
  /*background-color: @clr-background-dark;
  border: 0.1rem solid @clr-border;
  border-radius: 1.75rem;
  color: @clr-link;
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 3rem;
  text-align: center;
  width: 2.5rem;
*/
  display: inline-block;
  text-decoration: none;
  span {
    display: none;
  }
}

.community-list:empty:before, .topic-list:empty:before {
  margin-top: 10vw;
}

.loadingSpinnerSize (@size) {
  [data-ico="spinner"] {
    font-size: @size;
    height: @size;
    width: @size;
  }
}
.loading {
  text-align: center;
  padding-top: 25vh;

  [data-ico="spinner"] {
    display: inline-block;
    margin: 0;
  }
  .title {
    display: inline-block;
    vertical-align: top;
  }
  @media only screen and (max-width: @screen-xxs-max) {
    .loadingSpinnerSize (14px);
    .title { font-size: 14px; }
  }
  @media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
    .loadingSpinnerSize (16px);
    .title { font-size: 16px; }
  }
  @media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .loadingSpinnerSize (19px);
    .title { font-size: 19px; }
  }
  @media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .loadingSpinnerSize (21px);
    .title { font-size: 21px; }
  }
  @media only screen and (min-width: @screen-lg-min) {
    .loadingSpinnerSize (24px);
    .title { font-size: 24px; }
  }
}
/*=============================================== Spinner */

[data-ico="spinner"] {
  .animation (spin, 2000ms, infinite, linear);
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*=============================================== Notifications */
.notifications {
  .notification {
    border-top: none;
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    width: 100%;
  }
  .system {}
  .error {
    background-color: @clr-pale-pink;
    border: 1px solid @clr-hippie-pink;
    border-top: none;
    color: @clr-hippie-pink;

    a[data-ico], a[data-ico]:visited {
      color: @clr-hippie-pink;
    }
  }
  .success {
    background-color: @clr-surf-crest;
    border: 1px solid @clr-fern-green;
    border-top: none;
    color: @clr-fern-green;

    a[data-ico], a[data-ico]:visited {
      color: @clr-fern-green;
    }
  }

  a[data-ico], a[data-ico]:visited {
    -webkit-flex: 0 0 32px;
    -ms-flex: 0 0  32px;
    flex: 0 0 32px;
    line-height: 1.5rem;
    text-align:right;
  }
  .message {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    line-height: 1.5rem;
  }
}

/*=============================================== Dialog */
.dialog {
  background: @clr-white;
  border: 1px solid @clr-border;
  box-sizing: content-box;
  display: inline-block;
  margin: 3vh 4vw;
  min-width: @screen-xxs-max;
  padding: 10px;
}
.dialog-title {
  font-size: 18px;
  margin: 0 0 10px 0;
  text-align: center;
  border-bottom: 3px double @clr-border;
}

.dialog-label {
  font-size: 14px;
}
.dialog-field {
  margin: 5px 0;
  width: 100%;
  font-size: 16px;
  border-radius: 1px;
  border: 1px solid @clr-border;
  padding: 4px;
  box-sizing: border-box;
}
.field-message {
  font-size: 14px;
}
.dialog-content {
  min-height: 50px;
  width: 100%;
}

.dialog-buttons {
  text-align: right;
}

.component {
  background-color: @clr-white;
  border: 1px solid @clr-border;
  border-raidus: 10px;
  box-sizing: border-box;
  margin: 5px 0 0 0;
  padding: 10px;
}
.component-title {
  font-size: 18px;
  margin: 0 0 0 5px;
}
