@charset "UTF-8";

@font-face {
  font-family: "thedorus";
  src:url("../fonts/thedorus.eot");
  src:url("../fonts/thedorus.eot?#iefix") format("embedded-opentype"),
    url("../fonts/thedorus.woff") format("woff"),
    url("../fonts/thedorus.ttf") format("truetype"),
    url("../fonts/thedorus.svg#thedorus") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-ico]:before {
  font-family: "thedorus" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "thedorus" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before, .ico-message, [data-ico="message"]:before {
  content: "\6d";
}
.icon-community:before, .ico-community, [data-ico="community"]:before {
  content: "\63";
}
.icon-bug:before, .ico-bug, [data-ico="bug"]:before {
  content: "\62";
}
.icon-sign-in:before, .ico-sign-in, [data-ico="sign-in"]:before {
  content: "\261e";
}
.icon-sign-out:before, .ico-sign-out, [data-ico="sign-out"]:before {
  content: "\261c";
}
.icon-sign-up:before, .ico-sign-up, [data-ico="sign-up"]:before {
  content: "\2295";
}
.icon-search:before, .ico-search, [data-ico="search"]:before {
  content: "\73";
}
.icon-star-empty:before, .ico-star-empty, [data-ico="star-empty"]:before {
  content: "\2729";
}
.icon-star-half:before, .ico-star-half, [data-ico="star-half"]:before {
  content: "\2730";
}
.icon-star-full:before, .ico-star-full, [data-ico="star-full"]:before {
  content: "\272d";
}
.icon-add:before, .ico-add, [data-ico="add"]:before {
  content: "\2b";
}
.icon-ok:before, .ico-ok, [data-ico="ok"]:before {
  content: "\2714";
}
.icon-cancel:before, .ico-cancel, [data-ico="cancel"]:before {
  content: "\2718";
}
.icon-user:before, .ico-user, [data-ico="user"]:before {
  content: "\75";
}
.icon-bookmark-empty:before, .ico-bookmark-empty, [data-ico="bookmark-empty"]:before {
  content: "\65";
}
.icon-bookmark-full:before, .ico-bookmark-full, [data-ico="bookmark-full"]:before {
  content: "\45";
}
.icon-heart-full:before, .ico-heart-full, [data-ico="heart-full"]:before {
  content: "\2665";
}
.icon-heart-empty:before, .ico-heart-empty, [data-ico="heart-empty"]:before {
  content: "\2661";
}
.icon-frown-o:before, .ico-frown-o, [data-ico="frown-o"]:before {
  content: "\2639";
}
.icon-facebook:before, .ico-facebook, [data-ico="facebook"]:before {
  content: "\66";
}
.icon-twitter:before, .ico-twitter, [data-ico="twitter"]:before {
  content: "\74";
}
.icon-share:before, .ico-share, [data-ico="share"]:before {
  content: "\53";
}
.icon-link:before, .ico-link, [data-ico="link"]:before {
  content: "\4c";
}
.icon-envelope-o:before, .ico-envelope-o, [data-ico="envelope-o"]:before {
  content: "\2709";
}
.icon-read:before, .ico-read, [data-ico="read"]:before {
  content: "\52";
}
.icon-unread:before, .ico-unread, [data-ico="unread"]:before {
  content: "\72";
}
.icon-filter:before, .ico-filter, [data-ico="filter"]:before {
  content: "\2207";
}
.icon-history:before, .ico-history, [data-ico="history"]:before {
  content: "\61";
}
.icon-ellipsis-h:before, .ico-ellipsis-h, [data-ico="ellipsis-h"]:before {
  content: "\2026";
}
.icon-lightbulb:before, .ico-lightbulb, [data-ico="lightbulb"]:before {
  content: "\6c";
}
.icon-up:before, .ico-up, [data-ico="up"]:before {
  content: "\2191";
}
.icon-right:before, .ico-right, [data-ico="right"]:before {
  content: "\2192";
}
.icon-left:before, .ico-left, [data-ico="left"]:before {
  content: "\2190";
}
.icon-down:before, .ico-down, [data-ico="down"]:before {
  content: "\2193";
}
.icon-comment-full:before, .ico-comment-full, [data-ico="comment-full"]:before {
  content: "\4f";
}
.icon-comment-empty:before, .ico-comment-empty, [data-ico="comment-empty"]:before {
  content: "\6f";
}
.icon-trash-empty:before, .ico-trash-empty, [data-ico="trash-empty"]:before {
  content: "\64";
}
.icon-pencil:before, .ico-pencil, [data-ico="pencil"]:before {
  content: "\70";
}
.icon-spinner:before, .ico-spinner, [data-ico="spinner"]:before {
  content: "\67";
}
.icon-exclamation-circle:before, .ico-exclamation-circle, [data-ico="exclamation-circle"]:before {
  content: "\68";
}
.icon-exclamation-triangle:before, .ico-exclamation-triangle, [data-ico="exclamation-triangle"]:before {
  content: "\69";
}
.icon-certificate:before, .ico-certificate, [data-ico="certificate"]:before {
  content: "\6a";
}
.icon-cog:before, .ico-cog, [data-ico="cog"]:before {
  content: "\2699";
}
.icon-male:before, .ico-male, [data-ico="male"]:before {
  content: "\2642";
}
.icon-female:before, .ico-female, [data-ico="female"]:before {
  content: "\2640";
}
.icon-picture:before, .ico-picture, [data-ico="picture"]:before {
  content: "\6b";
}
