@import "elements";
@import "reset.css";
@import "404";
@import "../fonts/carmelit/stylesheet.css";

@headerHeight : 4.5rem;
@elementBackground : white;
@elementBorder : #aaa;
@disabled: #bbb;
@hoverColor: #eee;
@theodorusColor: #677f8f;
@linkColor: #105cb6;
@textColor: #333;
@timeColor: #666;

body {
  background-color: white;
  direction:rtl;
  font-family: 'arial','halvetica';

  input[type="email"], input[type="password"] { direction: ltr; }
}

a[href] { color: @linkColor; }

.loaded-fonts { font-family: 'carmelit_regularregular', 'arial','halvetica'; }

.hidden { display: none; }

.clean-gray {
  .gradient(top, #eee, #ccc);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  color: #333;
  cursor:pointer;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  min-width: 7.5rem;
}
.clean-gray_hover {
  .gradient(top, #ddd, #bbb);
  border: 1px solid #bbb;
  border-bottom-color: #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}

.clean-gray_active {
  border: 1px solid #aaa;
  border-bottom-color: #888;
  .drop-shadow(inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee);
}

button { .clean-gray; }
button:hover { .clean-gray_hover; }
button:active { .clean-gray_active; }

header {
  background-color: rgba(255,255,255,0.75);
  border-width: 0 0 0 0.1rem;
  border-left: 0.1rem solid @elementBorder;
  /*float: right;*/
  right: 0;
  height: 95%;
  margin-top: 1.5%;
  position: fixed;
  width: 15rem;

  h1 {
    background-image: url('/ui/img/theodorus_logo_small.png');
    background-repeat: no-repeat;
    clear: both;
    direction: ltr;
    height:55px;
    margin:0.5rem auto 0;
    width: 173px;
    span { display:none;}
    sub {
      color: @theodorusColor;
      font-size: 0.7rem;
      position: absolute;
      top: 3.5rem;
    }
  }


  .account_menu {
    margin: 1rem 0.5rem 1rem 0;
    .user_name, .btn_signup {
      float: right;
      width:6.5rem;
      text-align:left;
    }
  }
  .nav_buttons {
    margin-right:7.4rem;
    li { margin-top:1rem; }
    .suggest_topic {}
    .nav_blog { list-style-image:url('/ui/img/icon_wordpress.png'); }
    .nav_sourcecode { list-style-image:url('/ui/img/icon_git.png'); }
    .nav_features { list-style-image:url('/ui/img/icon_trello.png'); }

  }
}

h2 {
  font-size: 1.7rem;
}

.button-cancel { /* cancel buttons appears in sign-in/up pages */
  padding-left: 4rem;
  line-height: 2rem;
}
/* ================================================================================================================== */

.messages:not(:empty) {
  .border-radius(0, 0.5rem, 0.5rem, 0);
  .drop-shadow(0.1rem,0.1rem,0.5rem,0.1);
  background-color:lightcyan;
  border:1px solid @elementBorder;
  border-top: none;
  padding: 0.5rem;
  position: absolute;
  right: 50%;
  top: 0;
  z-index: 101;
}
/* ================================================================================================================== */
.page_form {
  margin-right:15rem;
  padding:1rem;
}

.intro_text {
  margin: 1rem auto;
  width: 12rem;
}
.form_authentication {
  max-width:42rem;
  label {
    display:block;
    font-size:0.8rem;
  }
  label:nth-child(2) {
      display: inline;
      font-size:1rem;
      padding-right:0.1rem;
  }
  input[type="text"],input[type="password"],input[type="email"] {
    font-size:1.2rem;
    width: 16rem;
  }
  div {
    margin-top:1rem;
  }
  .terms_of_use {
    label { display: inline; }
    .terms_of_use_details {
      float: right;
      margin: 0rem 2.3rem;
      width: 20rem;
      ul, ol {
        list-style-type: square;
      }
    }
  }
  .form-buttons {
    clear: both;
    float:left;
    button { float: left; }
  }
}
/* ================================================================================================================== */
.form_add_topic {
  clear: left;
  float: right;
  margin:1rem 16rem;
  textarea {
    font-size: 1rem;
    height: 4rem;
    padding: 0.2rem 0.3rem;
    width: 32rem;
  }
  button {
    min-width: 5rem;
    float: left;
    height: 4rem;
    font-size: 1.2rem;
    color: #666;
  }
}
/* ================================================================================================================== */
.feed_wrapper {
  float:right;
  margin-right:15rem;

  .no-topics {
    font-size: 1.5rem;
    color: #999;
    margin: 3.5rem;
  }
  .page-controls {
    padding: 0.5rem 1.5rem;
    border-top: 0.1rem solid @elementBorder;
    margin: 0.1rem 0.5rem;
    .nav-page-link {
      padding:0 0.8rem;
    }
    .nav-page-link:not([href]) {
      color:@disabled;
      cursor: default;
    }
    .nav-page-value {
      color: @timeColor;
      padding:0 0.2rem;
    }
  }
  .topic {
    background: @elementBackground;
    border-bottom: 0.1rem solid @elementBorder;
    margin: 0.5rem 0.5rem 0 .5rem;
    padding: 1rem;

    .title {
      color: #b3d4fc;
      display: block;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      margin-bottom:0.25rem;
      h2 {
        color: #333;
        display: inline;
      }
      h2:before { content: open-quote; color: @textColor;  }
      h2:after { content: close-quote; color: @textColor;  }
    }
    .title[href]:hover {
      color: @linkColor;
      h2 {
        color: @linkColor;
      }
    }


    .initiator {
      display: block;
      float:right;
      color: #33B;
      font-size:0.9rem;
      margin-left:1rem;
    }

    .created {
      display: block;
      float:right;
      margin-left:1rem;
    }
    .actions {
      display: block;
      float:right;

      .button-action {
        display: block;
        float:right;
        margin-left:1rem;

        .count {
          float:left;
        }
        .count:before { content: "("; }
        .count:after { content: ")" ;}
        .item-label { margin-left: 0.1rem; }
      }

      .statistics-item {
          display: block;
          float:right;
          margin-left:1rem;

        .item-label:before { content: " ";}
      }
    }

  }
}
/* ================================================================================================================== */
.topic-view {
  float:right;
  margin-right: 15rem;
  min-width: 41.2rem;

  h2 {
    padding: 1rem;
  }

  .button-back {
    margin: 1rem 1rem 0;
    display: block;
    font-size: 0.8rem;
  }
  .button-back:before {
    content: "➜";
    padding-left:0.2rem;
  }

  .socialTools { height: 2rem; }
  .socialTool {
    float:right;
    height: 2rem;
    width:6rem;
  }

  .socialTool.facebook iframe {
    width: 7rem;
  }

  .commenter:after { content: ":"}
  .comments > .comment-list, .your-comment > .comment-list { border-bottom: 0.1rem solid @elementBorder; }
  .no-comments { margin-top:0.5rem; }
  .other-opinions { margin-top: 1rem;}
  .comments {
    padding: 1rem;

    .comment {
      background-color: rgba(200, 200, 200, 0.1);
      border: 0.1rem solid @elementBorder;
      padding: 0.5rem;
      .commenter, .comment-content {
        font-size:1.2rem;
      }
      .commenter {
          color: @theodorusColor;
          display: inline;
          margin-left: 0.1rem;
      }
      h3 { display: inline; }

      .actions {
        font-size:0.9rem;
        height: 1.5rem;

        time {
          color: @timeColor;
          float: right;
        }
        .button-action, .statistics-item {
          float:right;
          margin-right: 0.5rem;
          .count { margin-left: 0.2rem;}
        }
      }
    }
    .comment:last-child { border-bottom: none; }
    .comment-box {
      background-color: rgba(150, 150, 150, 0.1);
      border: 0.1rem solid @elementBorder;
      padding: 0.5rem;

      .commenter {
        display: block;
      }
      .comment-box-element {
        height: 2rem;
      }
      .comment-new {
        float: right;
        margin-left:0.5rem;
        width: 30rem;
      }
      .comment-submit {
          width: 7.5rem;
      }
    }
  }
}
/* ================================================================================================================== */
.page_message {
  float:right;
  margin:1rem 16rem;

  h2 {
    color: #333;
    display: inline;
  }

  a {
    display: block;
    margin-top: 1rem;
  }
}