<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
  <template data-id="communitiesPage">
      <div class="page-header">
          {{?isAuthenticated}}
          <a href="#community/add" data-ico="add" class="button add"><span>{{#btn.add}}</span></i></a>
          {{/isAuthenticated}}
          {{.:'frmSearch'}}
      </div>
      <div data-register="communityList" class="community-list"></div>
  </template>

  <template data-id="communityList">
      <ul class="list community-list" data-msg-empty="{{#label.noCommunities}}">{{community@communities}}<li class="community">{{.:'communityListItem'}}</li>{{/community@communities}}</ul>
  </template>

  <template data-id="communityListItem">
      <a href="#community:{{id}}" class="link-community">
          <div class="name">{{name}}</div>
          <div class="statistics">
              <div class="stat"><span class="value">{{topics}}</span><span class="label">{{#label.topics}}</span></div>
              <div class="stat"><span class="value">{{members}} </span><span class="label">{{#label.members}}</span></div>
          </div>
      </a>
  </template>

  <template data-id="communityPage">
      <div class="page-header community-header">
          <h2 class="community-name">{{communityName}}</h2>
          {{?isMember}}
          <div class="member-name">{{memberName}}<span class="email">{{email}}</span></div>
          <div class="community-actions">
              <div tabindex="1" class="community-actions drop-down">
                  <div class="drop-down-title" data-ico="cog"><span>{{#btn.settings}}</span></div>
                  <div class="community-actions-content drop-down-content">
                      <a class="action" href="#community:{{communityId}}/settings" data-ico="cog"><span>{{#btn.settings}}</span></a>
                      <a class="action" href="#community:{{communityId}}/quit" data-register="btnLeave" data-ico="sign-out"><span>{{#btn.quit}}</span></a>
                  </div>
              </div>
          </div>
          {{/isMember}}
          {{?!isMember}}
          <a class="link-community-join" href="#community:{{communityId}}/join"><span>{{#btn.join}}</span></i><span class="email">{{email}}</span><i data-ico="sign-up"></i></a>
          {{/isMember}}
      </div>
      {{?isMember}}
      <div class="page-header">
          {{.:'frmAddTopic'}}
      </div>
      {{/isMember}}
      <div id="communityTopics" data-register="topicList" class="community-topics-list js-list"></div>
  </template>

  <template data-id="communityJoinPage">
      <div class="community-header">
          <h2 class="community-name">{{communityName}}</h2>
      </div>
      {{?isAuthenticated}}
      <form class="join-community-form" data-register="frmJoinCommunity">
        <div class="field-memberName">
          <label for="memberName" class="required">{{#label.communityJoinMemberName}}</label>
          <input type="text" id="memberName" name="name" data-register="uniqueMemberName" required="required" maxlength="100" placeholder="{{#placeholder.memberName}}" value="{{memberName}}" />
          <div id="memberNameErrors" class="field-message"></div>
        </div>
        <div>
            <button>{{#btn.ok}}</button>
            <button data-register="btnCancel" >{{#btn.cancel}}</button>
        </div>
      </form>
      {{/isAuthenticated}}
      {{?!isAuthenticated}}
      <div class="dialog">
          <div class="dialog-title">{{#label.youMustSignUpInToJoin}}</div>
          <div class="dialog-buttons">
              <a class="button" href="#signup">{{#link.signUp}}</a>
              <a class="button" href="#signin">{{#link.signIn}}</a>
              <a class="button" data-register="btnCancel">{{#btn.cancel}}</a>
          </div>
      </div>
      {{/isAuthenticated}}
  </template>

  <template data-id="communityAddPage">
    <form class="add-community-form" data-register="frmAddCommunity">
        <div>
            <label for="communityName" class="required">{{#label.communityAddName}}</label>
            <input type="text" id="communityName" name="name" data-register="uniqueCommunityName" required="required" maxlength="100" placeholder="{{#placeholder.communityName}}"/>
            <div id="communityNameErrors" class="field-message"></div>
        </div>
        <div>
            <label for="communityDescription" class="required">{{#label.communityAddDescription}}</label>
            <input type="text" id="communityDescription" name="description" placeholder="{{#placeholder.communityDescription}}"/>
        </div>
        <div>
            <label for="founderName" class="required">{{#label.communityAddFounderName}}</label>
            <input type="text" id="founderName" name="founderName" required="required" maxlength="100" placeholder="{{#placeholder.communityAddFounderName}}" value="{{founderName}}"/>
        </div>
        <div>
            <button>{{#btn.ok}}</button>
            <button data-register="btnCancel" >{{#btn.cancel}}</button>
        </div>
    </form>
  </template>

  <template data-id="communitySettingsPage">
      <div class="community-header">
          <h2 class="community-name">{{communityName}}</h2>
          <div class="member-name">{{memberName}}<span class="email">{{email}}</span></div>
      </div>
      <form class="membership-settings-form" data-register="frmMembershipSettings">
        <img src="{{profileImage}}" id="profileImagePreview" data-register="imageUpload"/>
        <div class="field-memberName">
          <label for="memberName" class="required">{{#label.communityJoinMemberName}}</label>
          <input type="text" id="memberName" name="name" data-register="uniqueMemberName" required="required" maxlength="100" placeholder="{{#placeholder.memberName}}" value="{{memberName}}" />
          <div id="memberNameErrors" class="field-message"></div>
        </div>
        <div class="button">
          <button><span>{{#btn.ok}}</span></button>
        </div>
      </form>
  </template>
</body>
</html>
