<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
  <template data-id="communitiesPage">
      <div class="page-header">
          {{?isAuthenticated}}
          <a href="#community/add" data-ico="add" class="button add"><span>{{#btn.add}}</span></i></a>
          {{/isAuthenticated}}
          <div class="community-filter">
            <input type="text" class="community-filter-value" placeholder="{{#placeholder.filterCommunities}}" data-register="filterCommunities"/>
          </div>
      </div>
      <div data-register="communityList" class="community-list"></div>
  </template>

  <template data-id="communityList">
      <ul class="list community-list" data-msg-empty="{{#label.noCommunities}}">{{community@communities}}{{.:'communityListItem'}}{{/community@communities}}</ul>
  </template>

  <template data-id="communityListItem">
    <li class="community">
      <a href="#community:{{id}}" class="link-community">
        <div class="name">{{name}}</div>
      </a>
      <div class="description">{{mdDescription}}</div>
      <div class="statistics">
        <div class="stat"><span class="value">{{topics}}</span><span class="label">{{#label.topics}}</span></div>
        <div class="stat"><span class="value">{{members}} </span><span class="label">{{#label.members}}</span></div>
      </div>
    </li>
  </template>
</body>
</html>
