<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
<ul>
    <li id="communitiesPageTemplate" class="js-template">
        <div>
            <a href="#community/add"><i class="icon-add"><span>{{#btn.add}}</span></i></a>
            {{.:frmSearchTemplate}}
        </div>
        <ul id="myCommunityList" data-register=""></ul>
    </li>

    <li id="communityAddPageTemplate" class="js-template">
        {{.:addCommunityTemplate}}
    </li>

    <li id="communityListTemplate" class="js-template">
        <ul>
            {{community@communities}}<li class="community">{{.:communityListItemTemplate}}</li>{{/community@communities}}
        </ul>
    </li>

    <li id="communityListItemTemplate" class="js-template">
        <a href="#community:{{id}}">{{name}}</a>
        <div class="statistics"><span class="value">{{topics}}</span><span class="label">{{#label.topics}}</span></div>
        <div class="statistics"><span class="value">{{members}} </span><span class="label">{{#label.members}}</span></div>
    </li>

    <li id="communityPageTemplate" class="js-template">
        <div id="pageContainer" data-register="loadCommunityPageTemplate">Loading...</div>
    </li>

    <li id="loadCommunityPageTemplate" class="js-template">
        <div id="pageContainer">
            <h2>{{communityName}}</h2>
            <div>
                {{?isMember}}<a href="#community:{{communityId}}/quit" id="btnLeave" data-register=""><i class="icon-delete"><span>{{#btn.quit}}</span></i></a>{{/isMember}}
                {{?!isMember}}<a href="#community:{{communityId}}/join" id="btnJoin" data-register=""><i class="icon-add"><span>{{#btn.join}}</span></i></a>{{/isMember}}
            </div>
            <div>
                <a href="#community:{{communityId}}/topic/add"><i class="icon-add"><span>{{#btn.add}}</span></i></a>
                {{.:frmSearchTemplate}}
            </div>
            <ul id="communityTopicList" data-register=""></ul>
        </div>
    </li>

    <li id="addCommunityTemplate" class="js-template">
        <form id="frmAddCommunity" class="add-community-form" data-register="">
            <div>
                <label for="communityName">{{#label.communityAddName}}</label><input type="text" id="communityName" name="communityName" required="required" maxlength="100" placeholder="{{#placeholder.communityName}}"/>
            </div>
            <div>
                <label for="communityDescription">{{#label.communityAddDescription}}</label><input type="text" id="communityDescription" name="communityDescription" placeholder="{{#placeholder.communityDescription}}"/>
            </div>
            <div>
                <label for="founderName">{{#label.communityAddFounderName}}</label><input type="text" id="founderName" name="founderName" required="required" maxlength="100" placeholder="{{#placeholder.communityAddFounderName}}"/>
            </div>
            <div>
                <button id="btnAddCommunity" data-register="">{{#btn.ok}}</button>
                <button data-register="btnCancel" >{{#btn.cancel}}</button>
            </div>
        </form>
    </li>
</ul>
</body>
</html>