<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{{#app-title}}</title>

    {{stylesheet@stylesheets}}<link rel="stylesheet" href="{{.}}" />
    {{/stylesheet@stylesheets}}
    <script language="JavaScript" src="/vendor/o.min.js"></script>
    {{script@scripts}}<script language="JavaScript" src="{{.}}"></script>
    {{/script@scripts}}
</head>
<body id="body">
    <noscript>Please enable javascript to view this site.</noscript>
    <div>{{#label.loading}}</div>
</body>
</html>