<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
  <template data-id="joinMail">
      <div style="text-align:center;"><img src="https://raw.githubusercontent.com/odedshr/theodorus/gh-pages.src/img/logo.png" height="64" width="64" /></div>
      <div>
        <h1>Join The conversation!<h1>
          <a href="{{baseURL}}/#user/connect:[authToken]/redirect:{{redirect}}">Click here</a>
      </div>
      <div>This link will expire at {{expire}}.</div>
  </template>

  <template data-id="inviteMail">
      <div>TBD</div>
  </template>
</body>
</html>
