<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
  <template data-id="header">
      <header class="header">
          <a href="/" id="btnHome" class="app-logo">
              <h1 class="app-title">{{#app.title}}</h1>
              <div class="app-quick-description">because opinions matter</div>
          </a>
          {{?!showUserDetailsInHeader}}
          <nav class="header-navigation">
              <a href="#communities" class="nav-link link-communities" title="{{#link.communities}}" data-ico="community"><span>{{#link.communities}}</span></a>
              <a href="#join" class="nav-link link-join" title="{{#link.join}}" data-ico="sign-in"  data-register="getRedirectionURL"><span>{{#link.join}}</span></a>
              <a href="#feedback" class="nav-link link-report-bug" title="{{#link.reportBug}}" data-ico="bug" data-register="sendFeedback"><span>{{#link.feedback}}</span></a>
          </nav>
          {{/showUserDetailsInHeader}}
          {{?showUserDetailsInHeader}}
          <nav class="header-navigation">
              <a href="#communities" class="nav-link link-communities" title="{{#link.communities}}" data-ico="community"><span>{{#link.communities}}</span></a>
              <a href="#messages" class="nav-link link-messages" title="{{#link.messages}}" data-ico="message"><span>{{#link.messages}}</span></a>
              <a href="#me" class="nav-link link-me" title="{{#link.me}}" data-ico="user"><span>{{#link.me}}</span></a>
              <a href="#feedback" class="nav-link link-report-bug" title="{{#link.reportBug}}" data-ico="bug" data-register="sendFeedback"><span>{{#link.feedback}}</span></a>
          </nav>
          {{/showUserDetailsInHeader}}
      </header>
      <div id="notifications" class="notifications"></div>
  </template>

  <template data-id="welcomePage">
      <aside class="side-bar-element component visitors-info-what-is">
          <h2 class="dialog-title">What is {{#app.title}} ?</h2>
          <div>lorem ipsum...</div>
      </aside>

      <article class="newsfeed">
          <ul>
              <li>A list of 'best' topics from all public communities</li>
          </ul>
      </article>

      <aside class="side-bar-element component visitor-join">
          <div class="connect">
              <h2 class="dialog-title">{{#title.joinTheConversation}}</h2>
              {{.:'join'}}
          </div>
      </aside>
  </template>

  <template data-id="joinPage">
      <div class="dialog">
          <div class="dialog-title">{{#title.joinTheConversation}}</div>
          {{.:'join'}}
      </div>
  </template>

  <template data-id="join">
      <form class="join-form" data-register="frmJoin">
          <div class="dialog-content">
              <div class="field-email">
                  <label for="signUpEmail" class="dialog-label required">{{#label.join}}</label>
                  <input type="email" name="email" id="joinEmail" placeholder="{{#placeholder.email}}"
                         class="dialog-field join-field-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
                  <div id="joinEmailErrors" class="field-message"></div>
              </div>
              <div class="text-agree-to-terms">{{#text.byClickingJoin}}</div>
              <div data-hidden="true">{{#text.onceYouJoin}}</div>
          </div>
          <div class="dialog-buttons">
              <button type="submit">{{#link.join}}</button>
          </div>
      </form>
  </template>

  <template data-id="userConnectRedirectPage">
    <div>{{.:'loading'}}</div>
  </template>

  <template data-id="appContainer">
      {{.:'header'}}
      <div id="pageContainer" class="pageContainer" data-register="{{pageTemplate}}">
          {{.:'loading'}}
      </div>
  </template>

  <template data-id="loading">
      <div class="loading">
          <i data-ico="spinner"></i>
          <span class="title">{{#label.loading}}</span>
      </div>
  </template>

  <template data-id="homePage">
      <article>
          <h2>my topics</h2>
      </article>
      <article>
          <h2>topics from my communities</h2>
      </article>
      <article>
          <h2>other topics</h2>
      </article>
      <aside>
          <h2>My communities</h2>
      </aside>
  </template>

  <template data-id="frmSearch">
      <form class="search" data-register="frmSearch">
          <input type="text" placeholder="{{#label.search}}" id="stringSearch" name="stringSearch" class="stringSearch"/>
          <a href="#" data-ico="search" title="{{#label.search}}"><span>{{#label.search}}</span></a>
      </form>
  </template>

  <template data-id="messagesPage">
      message
  </template>

  <template data-id="mePage">
      me
      <a href="/" data-register="btnSignOut" title="{{#link.signOut}}"><span>{{#link.signOut}}</span></a>
  </template>

  <template data-id="notifySystem">
      <div class="notification system {{status}}">
          <span class="message">{{message}}</span>
          <a href="#" data-register="closeNotification" data-ico="cancel" title="{{#label.close}}"></a>
      </div>
  </template>

  <template data-id="notifyCommunity">
      <div class="notification community {{status}}">
          <span class="message">{{message}}</span>
          <a href="#" data-register="closeNotification" data-ico="cancel" title="{{#label.close}}"></a>
      </div>
  </template>

  <template data-id="notifyScore">
      <div class="notification score {{status}}">
          <span class="message">{{message}}</span>
          <a href="#" data-register="closeNotification" data-ico="cancel" title="{{#label.close}}"></a>
      </div>
  </template>

  <template data-id="notifyMessage">
      <div class="notification message {{status}}">
          <span class="message">{{message}}</span>
          <a href="#" data-register="closeNotification" data-ico="cancel" title="{{#label.close}}"></a>
      </div>
  </template>
</body>
</html>
