<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
  <template data-id="header">
      <header class="header">
          <a href="/" id="btnHome" class="app-logo">
              <h1 class="app-title">{{#app.title}}</h1>
              <div class="app-quick-description">because opinions matter</div>
          </a>
          {{?!showUserDetailsInHeader}}
          <nav class="header-navigation">
              <a href="#communities" class="nav-link link-communities" title="{{#link.communities}}" data-ico="community"><span>{{#link.communities}}</span></a>
              <a href="#signup" class="nav-link link-sign-up" title="{{#link.signUp}}" data-ico="sign-up"><span>{{#link.signUp}}</span></a>
              <a href="#signin" class="nav-link link-sign-in" title="{{#link.signIn}}" data-ico="sign-in"><span></span></a>
              <a href="#feedback" class="nav-link link-report-bug" title="{{#link.reportBug}}" data-ico="bug" data-register="reportBug"><span>{{#link.reportBug}}</span></a>
          </nav>
          {{/showUserDetailsInHeader}}
          {{?showUserDetailsInHeader}}
          <nav class="header-navigation">
              <a href="#communities" class="nav-link link-communities" title="{{#link.communities}}" data-ico="community"><span>{{#link.communities}}</span></a>
              <a href="#messages" class="nav-link link-messages" title="{{#link.messages}}" data-ico="message"><span>{{#link.messages}}</span></a>
              <a href="#me" class="nav-link link-me" title="{{#link.me}}" data-ico="user"><span>{{#link.me}}</span></a>
              <a href="#feedback" class="nav-link link-report-bug" title="{{#link.reportBug}}" data-ico="bug" data-register="reportBug"><span>{{#link.reportBug}}</span></a>
          </nav>
          {{/showUserDetailsInHeader}}
      </header>
      <div id="notifications" class="notifications"></div>
  </template>

  <template data-id="welcomePage">
      <aside class="visitors-info-what-is">
          <h2>What is {{#app.title}} ?</h2>
          <div>lorem ipsum...</div>
      </aside>

      <article class="newsfeed">
          <ul>
              <li>A list of 'best' topics from all public communities</li>
          </ul>
      </article>

      <aside class="visitor-options">
          <div class="sign-in">
              <h2>Sign in and speak up!</h2>
              {{.:'signIn'}}
          </div>
          <div class="sign-up">
              <h2>Sign up and join the conversation</h2>
              {{.:'signUp'}}
          </div>
      </aside>
  </template>

  <template data-id="signinPage">
      <div class="dialog">
      <div class="dialog-title">{{#title.signIn}}</div>
      {{.:'signIn'}}
      </div>
  </template>

  <template data-id="signIn">
      <form class="sign-in-form" data-register="frmSignIn">
          <div class="dialog-content">
              <div>
                  <label for="signInEmail">Email</label><input type="email" id="signInEmail" name="email"/>
              </div>
              <div>
                  <label for="signInPassword">Password</label><input type="password" id="signInPassword" name="password"/>
                  <i title="Show password">E</i>
              </div>
          </div>
          <div class="dialog-buttons">
              <button>Sign In</button>
          </div>
      </form>
  </template>

  <template data-id="signupPage">
      <div class="dialog">
          <div class="dialog-title">{{#title.signUp}}</div>
          {{.:'signUp'}}
      </div>
  </template>

  <template data-id="signUp">
      <form class="sign-up-form" data-register="frmSignUp">
          <div class="dialog-content">
              <div>
                  <label for="signUpEmail">Email</label><input type="email" name="email" id="signUpEmail" />
              </div>
              <div>
                  <label for="signUpPassword">Password</label><input type="password" name="password" id="signUpPassword" />
              </div>
              <div>
                  <label for="signUpRetypePassword">Retype Password</label><input type="password" name="retypePassword" id="signUpRetypePassword" />
              </div>
              <div>
                  By clicking the sign up, you agree to the terms of use.
              </div>
          </div>
          <div class="dialog-buttons">
              <button>Sign Up</button>
          </div>
      </form>
  </template>

  <template data-id="appContainer">
      {{.:'header'}}
      <div id="pageContainer" class="pageContainer" data-register="{{pageTemplate}}">
          {{.:'loading'}}
      </div>
      <div class="error-screen-too-small">{{#error.screenTooSmall}}</div>
  </template>


  <template data-id="loading">
      <div class="loading">
          <i data-ico="spinner"></i>
          <span class="title">{{#label.loading}}</span>
      </div>
  </template>

  <template data-id="homePage">
      <article>
          <h2>my topics</h2>
      </article>
      <article>
          <h2>topics from my communities</h2>
      </article>
      <article>
          <h2>other topics</h2>
      </article>
      <aside>
          <h2>My communities</h2>
      </aside>
  </template>

  <template data-id="frmSearch">
      <form class="search" data-register="frmSearch">
          <input type="text" placeholder="{{#label.search}}" id="stringSearch" name="stringSearch" class="stringSearch"/>
          <a href="#" data-ico="search" title="{{#label.search}}"><span>{{#label.search}}</span></a>
      </form>
  </template>

  <template data-id="messagesPage">
      message
  </template>

  <template data-id="mePage">
      me
      <a href="/" data-register="btnSignOut" title="{{#link.signOut}}"><span>{{#link.signOut}}</span></a>
  </template>
</body>
</html>
