<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
  <template data-id="topicList">
      <ul class="list topic-list" data-msg-empty="{{#label.noTopics}}">{{topic@topics}}<li id="topic-{{id}}" class="js-item post topic" data-type="topic" data-id="{{id}}">{{.:topicListItem}}</li>{{/topic@topics}}</ul>
  </template>

  <template data-id="topicListItem">
      <img class="member-image" src="{{author.image}}" title="{{author.name}}" alt="{{author.name}}"/>
      <div class="next-to-author-image">
          <div class="content js-content">{{mdContent}}</div>
          {{?isEditable}}{{.:'frmSetTopic'}}{{/isEditable}}
          <div class="details">
              {{?hasCommunity}}<div class="detail community"><a href="#community:{{community.id}}">{{community.name}}</a></div>{{/hasCommunity}}
              <div class="detail author-name">{{author.name}}</div>
              <div class="detail time" title="{{time}}">{{relativeTime}}</div>
              {{?hasHistory}}<div class="detail" data-ico="history"></div>{{/hasHistory}}
          </div>
      </div>
      <div class="images">{{image@images}}<img src="{{src}}" class="attachment-image-preview"/>{{/image@images}}</div>
      <div class="attributes">
          <div class="attribute opinion-count" data-ico="heart-empty" data-register="toggle" data-target="topic-{{id}}-opinions"><span id="topic_{{id}}_opinion_count" class="value" data-role="opinion-count">{{opinions}}</span> {{#label.opinions}}</div>
          <div class="attribute endorse-count" data-ico="comment-empty"><span id="topic_{{id}}_endorse_count" class="value">{{endorse}}</span> {{#label.endorsers}}</div>
          <div class="attribute follow-count" data-ico="bookmark-empty"><span id="topic_{{id}}_follow_count" class="value">{{follow}}</span> {{#label.followers}}</div>
          <div class="attribute">Seen by <span id="topic_{{id}}_read_count" class="value"></div>
          <div class="attribute"><span id="topic_{{id}}_report_count" class="value"> {{#label.reports}}</div>
      </div>
      {{?isMember}}<div class="actions">
        <div class="action action-opinion" data-register="toggle" data-target="topic-{{id}}-opinions"><span data-ico="comment-empty">{{#action.opinion}}</span></div>
        <div class="action action-endorse" data-register="endorse" data-value="{{isEndorsed}}"><span data-ico="heart-empty">{{#action.endorse}}</span></div>
        <div class="action action-follow" data-register="follow" data-value="{{isFollowed}}"><span data-ico="bookmark-empty">{{#action.follow}}</span></div>
        <div class="action action-read" data-register="read" data-value="{{isRead}}"><span data-ico="unread">{{#action.markAsRead}}</span></div>
        <div class="action action-report"><span data-ico="frown-o">{{#action.report}}</span></div>
        {{?isEditable}}<div class="action action-edit" data-register="editTopic"><span data-ico="pencil">{{#action.edit}}</span></div>
        <div class="action action-archive" data-register="archive" data-type="topic" data-id="{{id}}"><span data-ico="trash-empty">{{#action.remove}}</span></div>{{/isEditable}}
      </div>{{/isMember}}
      <div id="topic-{{id}}-opinions" class="opinions js-list" data-role="opinions" data-topic-id="{{id}}" data-on-toggle="opinionList" data-hidden="true"></div>
  </template>

  <template data-id="frmSetTopic">
      <form class="add-topic-form post" data-register="frmSetTopic" {{?isReadMode}}data-hidden{{/isReadMode}}>
          <input type="hidden" name="id" value="{{id}}" />
          <div class="row-post-content">
              <label for="topicContent" class="required"></label>
              <div class="field-wrapper" data-count="{{contentLength}}">
                <textarea type="text" class="field-post-content" name="content" id="topicContent" required="required" placeholder="{{#placeholder.addTopic}}" data-register="postContent">{{content}}</textarea>
              </div>
          </div>
          {{.:'attachComponent'}}
          <div class="row-buttons">
              <button type="submit" data-ico="add" title="{{#btn.ok}}" class="button add"><span>{{#btn.ok}}</span></button>
          </div>
      </form>
  </template>

  <template data-id="communityTopicAddPage">
      <div class="community-header">
          <h2 class="community-name">{{communityName}}</h2>
      </div>
      {{.:frmSetTopic}}
      <button data-register="btnCancel" >{{#btn.cancel}}</button>
  </template>

</body>
</html>
